header .nav-links li a:hover{
    color:#ffbc0e;
}
 
.header .btn button{
    margin-left: 20px ;
    font-weight: 700;
    color: #0e86b8;
    padding: 9px 25px;
    background:#eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease Os;
}

.header .btn button:hover{
    background-color:#e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
 }

 .article.profile {font-family: 'Oswald', sans-serif;
    font-size: 20px;}

#proyectofinal {text-align: start;}
